body{ 
    padding: 0;
    margin: 0;
}

.box{ 
    border: 2px solid black;
    height: 100vh;
    width: 70vw;
    margin: auto;
}
.header{ 
height:18%;
width: 70vw;
display: flex;
box-shadow: 0px 3px 10px gray;
}
.container{ 
overflow: scroll;
border: 1px solid black;
height: 72%;
border-top: none;

}

.profile{ margin: 5px;
    border-radius: 50%;
}
.nametag{
    padding: 34px;
    font-size: 220%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* border: 2px solid red; */
}

.msg{ font-size: 130%;
     padding: 10px;
     margin: 10px;
    border-radius:5px;
}
.center{background-color: cyan;
    margin: 5px auto;

    clear: both;
    text-align: center;
    width: 40%;
}

.left{ background-color: burlywood;
    float: left;
clear: both;}
.right{ background-color: rgb(134, 13, 247);
    float: right;
    clear: both;
}
#form{ height: 10%;
   display: flex;
   align-items: center;
}
#text { border-radius: 30px;
    height: 30px;
   width: 70%;
   padding: 20px;   
   box-sizing: border-box;
   margin-left: 10px;
}
#send{border-radius: 5px;
    background-color: aquamarine;
box-sizing: border-box;
padding: 5px;
  margin-left: 10px;
width: 70px;
height: 30px;
}