<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <script src=""></script>
        <script defer src="http://127.0.0.1:3000/socket.io/socket.io.js"></script>
        <script defer src="../static/js/home.js"></script>
    </head>
    <body>
        <div class="box">
            
            <div class="header">
                <img src="../static/pics/square-1457370466-going-crazy.gif" alt="" class="profile">
                <div class="nametag">WE TOO COOL
                </div>
            </div>
            <div class="container">
            </div>

            
            
            <form action="#" id="form">
       <input type="text" id="text" name="text">
           <button type="submit" id="send">Send</button>
        </form>
        
    </div>
</body>
</html>